<h1>Edit <%=@as.name %></h1>
<br>
<form action="/analog_synthesizers/<%= @as.id %>" method="post">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" value=<%= @as.name %>><br><br>
  <label for="manufacturer">Manufacturer:</label><br>
  <input type="text" id="manufacturer" name="manufacturer" value=<%= @as.manufacturer %>><br><br>
  <label for="date_release">Date Released:</label><br>
  <input type="number" id="date_release" name="date_release" value=<%= @as.date_release %>><br><br>
  <label for="description">Description:</label><br>
  <textarea id="description" name="description" value=<%= @as.description %> rows="4" cols="50"></textarea><br>
  <input type="submit" value="Submit">
</form>