<br>
<h1><%= @as.name %></h1><br>
<p><b>Manufacturer:</b> <%= @as.manufacturer %><p>
<p><b>Date Manfactured:</b> <%= @as.date_release %><p>
<p><b>Description:</b> <%= @as.description %><br><br>

<% if current_user == @as.user %>
<div>
<a href="/analog_synthesizers/<%= @as.id %>/edit">Edit <%= @as.name %></a>
<form action="/analog_synthesizers/<%= @as.id %>" method="post">
   <input type="hidden" name="_method" value="delete">
   <input type="submit" value="Delete Synth">
</form>
</div>
<% end %>